@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  margin-bottom: 100px;
  font-family: "Cairo", sans-serif;
}

.intro {
  width: 50%;
  padding: 3% 6% 1%;
  height: 100%;
}

header .content h1 {
  font-size: 45px;
  color: #141414;
}

header .content p {
  font-size: 25px;
  color: #2a2a2a;
}

.navbar {
  list-style-type: none;
  text-align: center;
}

.navbar li {
  display: inline-block;
  margin: 3% 6% 1%;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: black;
  color: #141414;
}

.about-me-area {
  margin-top: 100px;
  width: 100%;
  height: 450px;
  display: flex;
  font-family: "Cairo", sans-serif;
}

.about {
  width: 700px;
  height: 500px;
}

.about-me-content {
  width: 70%;
  margin: 120px auto 0;
}

.about-me-content h1 {
  font-size: 45px;
  color: #141414;
}
.about-me-content p {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  color: #2a2a2a;
  width: 540px;
}
.skills {
  width: 100%;
  height: 800px;
  padding: 50px;
}

.skills h1 {
  color: #141414;
  font-size: 50px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 70px;
  margin-right: 80px;
}

.my-skills {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}

.skill {
  width: 30%;
  height: 350px;
  background-color: #fff;
}

.skill h2 {
  color: #2a2a2a;
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  margin-right: 70px;
}

.skill div {
  width: 90%;
  margin: 15px auto;
  height: 240px;
}
img {
  width: 200px;
  height: 200px;
}
.html-img {
  width: 100px;
  height: 100px;
}

.css-img {
  width: 100px;
  height: 100px;
}

.js-img {
  width: 100px;
  height: 100px;
}

/* contact section */
.contact-me {
  width: 100%;
  height: 350px;
}

.contact-me h1 {
  margin-left: 110px;
  font-size: 50px;
  color: #141414;
}

.contact-info {
  margin-top: 70px;
  width: 100%;
  display: flex;
}

.info {
  width: 70%;
  font-size: 15px;
  color: #2a2a2a;
  padding: 0 100px;
}

.info p {
  margin: 20px;
}
.social-media {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fab,
.fas {
  color: #2a2a2a;
  font-size: 30px;
  margin: 10px;
}
